.chart-container {
  display: grid;
  grid-template-columns: repeat(5, 80px);
  margin: 0 auto;
  padding: 0 28px;
  height: 430px;
  overflow: auto;
  grid-row-gap: 36px;
  grid-column-gap: 36px;
  .chart-item {
    text-align: center;
    color: rgba(0, 0, 0, 0.65);
    &.active {
      .chart {
        background-color: #eee;
      }
    }
  }
  .chart {
    height: 80px;
    width: 80px;
    border-radius: 2px;
    margin-bottom: 4px;
    border: 1px solid #979797;
    padding: 5px;
    cursor: pointer;
    img {
      height: 70px;
      width: 70px;
    }
  }
}
.canvas-container {
  height: 100%;
}

html,
body {
  height: 100%;
}

#root {
  padding-bottom: 64px;
}

.data-container {
  padding: 10px;

  .table-title {
    .anticon {
      margin-left: 8px;
    }
  }

  .ant-tag {
    margin-left: 8px;
  }
}

footer {
  background-color: #fff;
  padding: 10px;
  position: fixed;
  height: 60px;
  width: 100%;
  bottom: 0;
  left: 0;
  z-index: 10;
  border-top: 1px solid #eee;
}
